<footer class="footer">
  <small>
    <a href="http://railstutorial.org/">Rails</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", contact_path %></li>
      <!-- <li>stuff</li> -->
    </ul>
  </nav>
</footer>
